Package: percona-playback
Version: 0.7.0
Section: Applications/Databases
Priority: optional
Architecture: amd64
Depends: libtbb2, libboost-dev, libmysqlclient18 | libmysqlclient20
Homepage: https://github.com/Percona-Lab/query-playback
Installed-Size: 2259
Maintainer: https://github.com/Percona-Lab/query-playback
Description: A tool for replaying captured database server load

